.containerAudrey {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.buttonAudrey {
  width: 95vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10vw;
  font-weight: bold;
  color: white;
  background: #ff5fa2;
  cursor: pointer;
  border-radius: 2vw;
  user-select: none;
  transition: 0.3s;
}

.buttonAudrey:hover {
  background: #ff3e8a;
}

